<% @feed_posts.each do |p| %>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= p.user.full_name %></strong>
        <br>
          <%= p.context %>
        <br>
        <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
      </p>
    </div>
    <% if p.comments.any? %>
      <%= render 'comments/comments', { comments: p.comments }%>
    <% end %>
    
    
  </div>
</article>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <%= render 'comments/form', { post: p } %>
  </div>
</article>

<% end %>
