<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <% if @feed_posts.any?  %> 
          <%= render 'shared/feed' %>
        <% end %> 
      </div>
    </div>
  </div>
</section>